@font-face {
    font-family: 'lifehackmedium';
    src: url('../fonts/Lifehack/lifehack_medium-webfont.eot');
    src: url('../fonts/Lifehack/lifehack_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lifehack/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/Lifehack/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/Lifehack/lifehack_medium-webfont.ttf') format('truetype'),
         url('../fonts/Lifehack/lifehack_medium-webfont.svg#lifehackmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/Ubuntu/ubuntu-b-webfont.eot');
    src: url('../fonts/Ubuntu/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.eot');
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.eot');
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.eot');
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/Gagalin/gagalin-regular-webfont.eot');
    src: url('../fonts/Gagalin/gagalin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/Gagalin/gagalin-regular-webfont.woff') format('woff'),
         url('../fonts/Gagalin/gagalin-regular-webfont.ttf') format('truetype'),
         url('../fonts/Gagalin/gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color:black;
    min-height: 100vh;
    color:blanchedalmond;
}

ul.nav_list{
    display: flex;
    background: orange;
}
.nav__item{
    padding: 20px;
}


li {
    list-style: none;
    transition-duration: 0.5s;
}
    
li:hover, li:focus-within {
    cursor: pointer;
    background: red;
}
ul li:nth-child(3){
    position: relative;
}

ul.nav_list li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    margin-top: 1rem;
    background: orange;
    opacity: 0.7;
}

ul.nav_list li:hover > ul,
ul.nav_list li:focus-within > ul,
ul.nav_list li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
  }
.dropdown__item{
    padding: 10px 10px 10px 20px;
}
.dropdown__item:last-child{
    padding: 10px 10px 20px 20px;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'ubuntubold';
    font-size: 16px;
}




.plane__section{
    display: flex;
}

.plane__image_container{
    margin:50px;
}

.plane__image_wrapper{
    max-width: 25vw;
    min-width: 25vw;
    outline-color: orange;
    outline-offset: 5px;
    outline-style: solid;

}

.plane__image_wrapper:hover{
    transform: translate(10px, 0px) scale(1.2);
    
}
.plane__image_wrapper:nth-child(1){
    margin-bottom:50px;
}

.plane__image{
    width: 100%;
}

.desctiption{
    margin-top: 30px;
}

.description__header{
    font-family: 'gagalinregular';
    font-size: 45px;
    color: orange;
}

.description__list{
    list-style: none;
}

.description__item{
    display: flex;
    margin-bottom: 20px;
}

.description__item_row{
    line-height: 3em;
}
.description__property_row{
    text-align: left;
    font-family: 'arial';

}
.description__property {
    min-width: 25vw;
    font-family: 'ubuntubold'
}

.description__value{
    font-family: 'ubunturegular';

}

.gallery__list{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.gallery__item{
    margin: 2vh;
}
.gallery__item{
    max-width: 15vw;
}
.gallery__item:hover, .gallery__item:focus-within{
    background-color: initial;
}

.gallery__image_container{
    max-width: 15vw;
}
.gallery__image{
    width: 100%;
}

.main{
    padding: 2rem 5rem;
}

.history__title{
    font-family: 'gagalinregular';
    font-size: 45px;
    color: orange;
    text-align: center;
    margin-bottom: 2rem;
}

.map__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.map__image_wrapper{
    max-width: 45vw;
    margin-bottom: 1rem;
}

.map__image{
    width: 100%;
}
.image__description{
    font-family: 'ubuntubold';
    font-size: 1.2rem;
}

.history__text{
    font-family: 'ubunturegular';
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.text__item{
    margin-left: 3rem;
    margin-bottom: 2rem;
}
.text__item::before{
    display: inline-block;
    content: '';
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: aliceblue;
    border-radius: 2px;
    margin-right: 1rem;
}

li.text__item:hover, li.text__item:focus-within {
    cursor:initial;
    background:none;
}